@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>Do an thuc tap tot nghiep: Accountant Information System Using MVC Framework</p>
<p>Sinh Vien:</p>
<p>Le Quoc Thinh - 1231200009</p>
<p>Nguyen Thanh Binh - 1132390023</p>
