@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Eastearn International University<br />
    Hoa Phu - Thanh Pho Moi Binh Duong<br />
    <abbr title="Phone">Phone:</abbr>
    0983887244
</address>

<address>
    <strong>Support:</strong> <a href="mailto:thinh.le.k2set@eiu.edu.vn">thinh.le.k2set@eiu.edu.vn</a><br />
    <strong>Marketing:</strong> <a href="mailto:binh.nguyen.k1set@eiu.edu.vn">binh.nguyen.k1set@eiu.edu.vn</a>
</address>
